@font-face {
  font-family: "Jost";
  src: url("../fonts/Jost-Medium.eot");
  src: url("../fonts/Jost-Medium.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Jost-Medium.woff2") format("woff2"),
    url("../fonts/Jost-Medium.woff") format("woff"),
    url("../fonts/Jost-Medium.ttf") format("truetype"),
    url("../fonts/Jost-Medium.svg#Jost-Medium") format("svg");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Overpass";
  src: url("../fonts/Overpass-Light.eot");
  src: url("../fonts/Overpass-Light.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Overpass-Light.woff2") format("woff2"),
    url("../fonts/Overpass-Light.woff") format("woff"),
    url("../fonts/Overpass-Light.ttf") format("truetype"),
    url("../fonts/Overpass-Light.svg#Overpass-Light") format("svg");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
