%center {
  max-width: 1500px;
  width: 100%;
  margin: 0 auto;
}

// animation
%animation {
  color: #fff;
  text-shadow: 0 0 7px #fff, 0 0 10px #fff, 0 0 21px #fff, 0 0 42px #ff00fa,
    0 0 82px #ff00fa, 0 0 92px #ff00fa, 0 0 102px #ff00fa, 0 0 151px #ff00fa;
}
